html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

::after, ::before { 
  box-sizing: border-box;
  word-break: keep-all; 
  overflow-wrap: break-word; 
}

select {
  width: 100%;
  border: 1px solid #eee;
}